@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agamtoh";
  src: url("/fonts/Agamtoh.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "World";
  src: url("/fonts/World.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Howdybun";
  src: url("/fonts/Howdybun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Howdybunn";
  src: url("/fonts/Howdybunn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

